# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/
venv/

# Models
*.pkl
*.h5
*.pth
*.pt
DL_project
datasets
*.jpeg
*.jpg

# Environment variables
.env

#csv file 
# *.csv

# txt file
*.txt